@font-face {
    font-family: Game-Score;
    src: url("redensek.regular.ttf");    
}

/* * {
    border: 1px solid red;
} */

body {
    margin: 0;
    background: #3B50A6;
    color: white;
}

/* This is the wraper div which everything is within */
#scoreboard-wrapper {
    background: #1B244A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 774px;
    height: 762px;
    margin: 100px auto;
    gap: 60px;
    border: 1px solid #EEEEEE;
}

#app-main-title {
    width:570px;
    height: 36px;
    font-size: 80px;
    text-align: center;
}

/* This styles the countdown game timer  */
#game-timer {
    text-align: center; 
    font-size: 90px;
    color:#F94F6D;
    background: black;
    font-family: Game-Score;
    width: 407px;
    height: 120px;
}

#main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.title {
    font-size: 40px;
    margin-bottom: 0;
}

#game-score-display {
   display: flex;
   gap:50px;
}

.main-score-recipients-wrapper {
    display: flex;
    justify-content: center;
    gap: 70px;

}

.game-score {
    font-family: Game-Score;
    font-size: 90px;
    background: black;
    width: 150px;
    height: 120px;
    text-align: center;
    color:#F94F6D;
}

.game-score-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.points-add-button {
    font-size: 38px;
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: 1px solid #9AABD8;
}

.point-adder-row {
    display: flex;
    font-family: Game-Score;
    gap: 8px;
}

.game-point-add-display {
    display: flex;
    gap: 50px;
}

.new-game-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 401px;
    font-size: 57px;
    height: 88px;
    border: 2px solid #9AABD8;
    margin-top: 30px;
    font-family: Game-Score;
}
